
.bg1 {
	background-image: url(../images/cadFace/1.jpg);
	width:771px;
	height:484px;
	background-repeat: no-repeat;	
}
.bg2 {
	background-image: url(../images/cadFace/2.jpg);
	width:771px;
	height:484px;
	background-repeat: no-repeat;	
}
.bg3 {
	background-image: url(../images/cadFace/3.jpg);
	width:771px;
	height:484px;
	background-repeat: no-repeat;	
}
.bg4 {
	background-image: url(../images/cadFace/4.jpg);
	width:771px;
	height:484px;
	background-repeat: no-repeat;	
}
.bg5 {
	background-image: url(../images/cadFace/5.jpg);
	width:771px;
	height:484px;
	background-repeat: no-repeat;	
}
.bg6 {
	background-image: url(../images/cadFace/6.jpg);
	width:771px;
	height:484px;
	background-repeat: no-repeat;	
}
.bg7 {
	background-image: url(../images/cadFace/7.jpg);
	width:771px;
	height:484px;
	background-repeat: no-repeat;	
}
.bg8 {
	background-image: url(../images/cadFace/8.jpg);
	width:771px;
	height:484px;
	background-repeat: no-repeat;	
}


.box-face {
	width: 700px;
	height: 300px;
	background-color: #BDBDAE;
	overflow: hidden;
	
}
.box-face p {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #fff;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.box-face p b {
	color: #444444;
}
.limites {
	width: 600px;
	margin-left: 45px;
	margin-top: 180px;
}
.left {
	float: left;
}
.clearfix {
	clear: both;
}
button {margin-top: 3px;}
span.ou {margin-top: 30px;display: block;color: #000!important;}
img {display: block; margin-top: 3px;}